:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #fff;
  --bg-color-footer: #2f303a;
  --icon-color: #afb1b8;
  --card-set-gap: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Основные стили*/
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Хедер*/
.header {
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-nav {
  display: flex;
  align-items: center;
}
/* Лого */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo > span {
  color: var(--title-text-color);
}

.logo .logo-footer {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*Навигация*/

.header {
  border: 1px solid #ececec;
}

.header-list {
  display: flex;
  margin-left: 93px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list a.current {
  position: relative;
  color: var(--accent-color);
  display: flex;
  align-items: flex-end;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.header-list .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  transition: color var(--anim);
}

.header-list .header-item:not(:last-child) {
  margin-right: 50px;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

/*Хедер-контакты*/
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .header-item + .header-item {
  margin-left: 50px;
}

.nav-contacts {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--anim);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

/*Герой*/
.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
}
/*
.hero .hero-box {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
*/

.hero-title {
  margin: 0 auto 30px auto;
  text-align: center;
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.hero .btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
}

/*Секция Преимущества*/

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}*/
.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-left: calc(-1 * var(--card-set-gap));
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item .button:focus {
  outline: transparent;
}

.features-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.features-list-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*Секция Чем мы занимаемся*/

.work-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc(-1 * var(--card-set-gap));
}
.work-list > .work-item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.work-descr {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  padding: 27px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*Секция Команда*/
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: calc(-1 * var(--card-set-gap));
}
.team-list > .team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social-link {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--anim);
}

.social-li:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-item {
  fill: var(--icon-color);
}

.social-link:hover .social-item,
.social-link:focus .social-item {
  fill: var(--primary-white-color);
}

/*Клиенты*/
.clients-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--card-set-gap);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  background-color: #fff;

  transition: color var(--anim), border-color var(--anim);
}

.client {
  fill: currentColor;
}

.clients-item:hover,
.clients-item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*Футер*/
.footer {
  background-color: var(--bg-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-containers {
  display: flex;
  align-items: baseline;
}

.address {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.secondary-footer-container {
  margin-left: 70px;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social-link {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--anim);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--accent-color);
}
.social-thumb:not(:last-child) {
  margin-right: 10px;
}

.footer-social-item {
  fill: var(--primary-white-color);
}

.third-footer-container {
  margin-left: auto;
}

.subscribe {
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 29px 10px 28px;
  margin-left: 12px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: "Roboto", sans-serif;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.subscribe-icon {
  margin-left: 10px;
}

.signup_form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*
.subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url("../images/icons/icon-send.svg");
}
*/

.email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email:focus,
.email.hover {
  outline: none;
}

/*Портфолио*/
.portfolio {
  background-color: var(--background-color);
}
/*Кнопки Фильтр в Портфолио*/
.filter-btn {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-items:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: color var(--anim), background-color var(--anim),
    box-shadow var(--anim);
}

.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Сетка*/

.card-set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set > .card-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  transition: box-shadow var(--anim);
}

.card-item:focus,
.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-descr {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
}

.card-project {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-box {
  position: relative;
  overflow: hidden;
}

/*Overlay*/

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--anim);
}

.portfolio-descr {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 8px auto auto;
  cursor: pointer;
  fill: #000000;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--anim);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: var(--accent-color);
}

.modal-title {
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding: 14px 14px 14px 42px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input:focus,
.form-input:hover {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

textarea {
  resize: none;
  margin-bottom: 10px;
}

.comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  transition: border var(--anim);
}

.comment:hover,
.comment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.policy {
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-item {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--title-text-color);

  transition: fill var(--anim);
}

.form-field:focus-within > .form-item,
.form-field:hover > .form-item {
  fill: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  display: flex;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.checkbox:focus + .checkbox-icon {
  color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon svg {
  fill: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icons/check.svg");
  background-size: auto;
  background-position: center;
  background-size: auto;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;

  transition: background-color var(--anim);
}
.checkbox-icon svg {
  display: inline-block;
  width: 16px;
  height: 15px;
}

.form-checkbox-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  user-select: none;
}

/*
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.form-checkbox-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-style: outset;
  border-radius: 2px;
  width: 16px;
  height: 15px;

  transition: border var(--anim), background-color var(--anim);
}

.form-checkbox-icon {
  fill: var(--primary-white-color);
}

.form-checkbox-input:checked + .form-checkbox-custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  outline: 0;
  border: 0;
}

.form-checkbox-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  user-select: none;
}

.policy {
  color: var(--accent-color);
}
*/

.submit {
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  cursor: pointer;
}

.submit:focus {
  outline: transparent;
}
